.list{
    width:100%;
    margin-top: 10px;

}


.list .listTitle{
    width:100%;
    margin-top: 10px;
    color: white;
    font-size: 20px;
    font-weight: 500;
    margin-left:  50px;
    

}

.wrapper .container{
margin-left: 50px;
display: flex;
width: max-content;
padding-right: 5px;
margin-right: 5px;


}